.buttonstyle {
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 4px;
  color: #777;
  background-color: #ddd !important;
  border: 1px solid transparent;
  height: 32px;
  padding: 0 11px;
}

.likeDiv {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  top: 20px;
  visibility: hidden;
}
.footerDiv {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  visibility: hidden;
}
.downloadPhoto {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
}

.unplashPhtoDiv {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #999;
  transition: 2s ease-in-out;
}

.unplashPhtoDiv:hover {
  cursor: zoom-in;
}

.unplashPhtoDiv:hover .likeDiv {
  visibility: visible;
  transition: 2s ease-in-out;
}
.unplashPhtoDiv:hover .downloadPhoto {
  visibility: visible;
  transition: 2s ease-in-out;
}
.unplashPhtoDiv:hover .footerDiv {
  visibility: visible;
  transition: 2s ease-in-out;
}

.hearticon {
  color: "#f54b48";
}

.imagestyle {
  width: 100%;
  display: block;
  border-radius: 2px;
}
.usericon {
  border-radius: 18px;
}

.fullName {
  color: white;
  position: relative;
  top: 5px;
}

.downloadIcon {
  width: 20px;
  height: 18px;
  border-radius: 4px;
  padding-top: 7px;
  justify-content: center;
}
